aiodns==3.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.2
alpaca-py==0.35.0
alpaca-trade-api==3.2.0
alpha_vantage==3.0.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.7.0
appdirs==1.4.4
appnope==0.1.4
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
attrs==24.3.0
babel==2.16.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.2.0
blinker==1.9.0
cachetools==5.5.0
ccxt==4.2.85
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
cmdstanpy==1.2.5
comm==0.2.2
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
Cython==3.0.11
dataclasses-json==0.6.7
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dnspython==2.7.0
duckdb==1.1.3
email_validator==2.2.0
espn-api==0.44.1
exchange_calendars==4.6
executing==2.1.0
fastjsonschema==2.21.1
filelock==3.16.1
finvizfinance==1.1.0
Flask==3.1.0
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-Principal==0.4.0
Flask-Security==5.5.2
Flask-SocketIO==5.5.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.55.3
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
holidays==0.63
html5lib==1.1
httpcore==1.0.7
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.27.0
ibapi==9.81.1.post1
idna==3.10
ijson==3.3.0
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.31.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
json5==0.10.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterthemes==0.20.0
kaleido==0.2.1
kiwisolver==1.4.8
korean-lunar-calendar==0.3.1
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-ollama==0.2.2
langchain-text-splitters==0.3.4
langsmith==0.2.6
lesscpy==0.15.1
llvmlite==0.44.0
lumibot==3.4.2
lumiwealth-tradier==0.1.14
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.2
marshmallow-sqlalchemy==1.1.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.1.0
multitasking==0.0.11
mypy-extensions==1.0.0
mysql-connector-python==9.2.0
narwhals==1.19.1
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.3.2
notebook_shim==0.2.4
numba==0.61.0
numpy==1.26.4
ollama==0.4.7
orjson==3.10.12
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandas-datareader==0.10.0
pandas_market_calendars==4.4.2
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
patsy==1.0.1
peewee==3.17.8
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
ply==3.11
polygon-api-client==1.14.2
progressbar==2.5
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
prophet==1.1.6
protobuf==5.29.2
psutil==6.1.1
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pycares==4.5.0
pycparser==2.22
pydantic==2.10.4
pydantic-settings==2.7.0
pydantic_core==2.27.2
pydeck==0.9.1
pygame==2.6.1
Pygments==2.18.0
pyluach==2.2.0
pyparsing==3.2.0
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-json-logger==3.2.1
python-socketio==5.12.1
pytz==2024.2
PyYAML==6.0.1
pyzmq==26.2.0
Quandl==3.7.0
quantstats-lumi==0.3.3
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
safetensors==0.4.5
scipy==1.14.1
seaborn==0.13.2
selenium==4.28.1
Send2Trash==1.8.3
setuptools==75.6.0
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.36
sseclient-py==1.8.0
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.4
streamlit==1.41.1
sympy==1.13.1
ta==0.11.0
tabulate==0.9.0
tenacity==9.0.0
termcolor==2.5.0
terminado==0.18.1
thetadata==0.9.11
tinycss2==1.4.0
tokenizers==0.21.0
toml==0.10.2
toolz==1.0.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.1
trio==0.28.0
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uri-template==1.3.0
urllib3==1.26.20
uuid==1.30
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
wget==3.2
wsproto==1.2.0
WTForms==3.2.1
yarl==1.18.3
yfinance==0.2.54
